html,

:root{
  --principal: #642373;
  --secundaria: #CA537C;
  --titulos: rgba(38, 22, 41, 1);
  --subtitulos: #37223B;
  --branco: #F5F7F3;
  --fundoSite:#F3F1F4;
  --fundoHero: #DBC9E8;
}

main{
  width: 100%;
}

nav{
  flex-direction: row;
  display: flex;
  height: 80px;
  width: 100%;
}
body {
  background-color: var(--fundoSite);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
